@font-face {
  font-family: Myfont;
  src: url("/fonts/RagelliaMellinda.woff");
}

body {
  font-family: "open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

fa {
  flex: 0 0 auto;
}

.info-imge {
  width: 100px;
}

.contianer {
  margin: auto;
}

.primery-text {
  color: #56a69a;
}

#mian-header {
  border-bottom: 1px solid #56a79a;
}

#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #888;
}

#navbar li.current a,
#navbar a:hover {
  color: #56a79a;
  border-bottom: 3px solid 56a97a;
  padding-bottom: 3px;
}

.card img {
  max-height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}

#features {
  margin-top: 100px;
  margin-bottom: 20px;
}

.fo-contact {
  padding: 0px 15px;
}

.fo-contact h5 {
  text-transform: capitalize;
}

.fo-contact ul {
  margin-left: -40px;
}

.fo-contact ul li {
  list-style-type: none;
}

#info img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-brand {
  font-size: 2rem !important;
  font-weight: 800;
  color: #56a69a !important;
}

.navbar {
  height: 100px;
}

#showcase {
  border-bottom: 1px solid #56a79a;
  margin-bottom: 30px;
  text-align: center;
}

#showcase .slider-image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  filter: brightness(0.65);
}

#showcase .row {
  height: 600px;
}

#showcase h1 {
  font-size: 75px;
  margin: 0;
  padding-bottom: 20px;
}

#showcase p {
  color: #000;
  margin: 0;
}

#showcase .showcase-content {
  background: #333;
  content: #fff;
  border-radius: 99px;
  padding: 40px;
  opacity: 0.9px;
}

#showcase .slider-text {
  font-family: Myfont;
  position: absolute;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  top: 50%;
  color: whitesmoke;
}

#features h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#features p {
  color: #888;
  margin: 0;
  padding-bottom: 40px;
}

#features .fa,
#features .fas {
  font-size: 60px;
  color: #56a79a;
}

#info {
  margin: 50px 0px;
}

#info #co-fu {
  text-transform: capitalize;
  color: #000000;
  margin: 20px 50px;
}

#info h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul {
  list-style: none;
  padding: 0;
}

#info li {
  line-height: 2em;
  font-size: 20px;
  color: #56a79a;
}

#company {
  background: #e9ecef;
  color: #000;
  padding: 10px 0;
}

#company h4 {
  color: #56a79a;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#comany ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}

#comany input[type=text] {
  padding: 7px;
}

#company button {
  background: #222;
  color: #fff;
  padding: 10px;
  border: 0;
}

#mian-footer {
  background: #56a79a;
  color: #fff;
}

#mian-footer h5 {
  margin: 10px;
}

#page {
  margin-bottom: 40px;
}

.contact {
  background-color: #56a69a;
}

.services ul li {
  list-style: none;
  padding: 10px;
}

.services ul li:nth-child(odd) {
  background: #333;
  color: #fff;
}

.services ul li:nth-child(even) {
  background: #56a79a;
  color: #fff;
}

#contact form {
  background: #333;
  color: #fff;
  padding: 20px;
}

.contact form input[type=text] {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}

.contact form textarea {
  width: 50%;
  height: 100px;
}

.contact form button {
  width: 50%;
  padding: 10px 0;
  border: 0;
  background: #222;
  color: #fff;
}

.contact form label {
  text-transform: uppercase;
}

@media (max-width: 800px) {
  #showcase h1 {
    font-size: 30px;
  }

  #showcase p {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  #showcase .showcase-content {
    padding: 40px 10px;
  }
}

.info-imge {
  width: 100%;
}

#showcase p {
  color: #000;
  margin: 0;
  font-size: xx-large;
}

